body {
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(46, 95, 95);
}

code {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: rgb(46, 95, 95);
}

.hero {
  background-image: url("assets/img/heromaybe.jpg");  
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  opacity: .90;
}

nav {
  background-color: rgba(202, 207, 205, 0.9);
  
}

.btn {
  background-color: rgba(202, 207, 205, 0.9);
  color: rgb(46, 95, 95);
  border: none;
  
}

.btn:hover {
  background-color: rgb(236, 231, 231);
  color: rgb(46, 95, 95);
  

}